In [1]:
import joblib
import json
import pandas as pd

import nbimporter
# from P1M2_Mujahid import one_hot_encode_and_concat, min_max_scale

In [2]:
with open('model.pkl', 'rb') as file_1:
  model = joblib.load(file_1)

with open('scaler.pkl', 'rb') as file_2:
  scaler = joblib.load(file_2)

with open('encoder.pkl', 'rb') as file_3:
  encoder = joblib.load(file_3)

with open('categorical_features.txt', 'r') as file_4:
  categorical_features = json.load(file_4)

with open('selected_cat_features.txt', 'r') as file_5:
  selected_cat_features = json.load(file_5)

with open('non_selected_cat_features.txt', 'r') as file_6:
  non_selected_cat_features = json.load(file_6)

with open('numeric_features.txt', 'r') as file_7:
  numeric_features = json.load(file_7)

with open('selected_num_features.txt', 'r') as file_8:
  selected_num_features = json.load(file_8)

with open('non_selected_num_features.txt', 'r') as file_9:
  non_selected_num_features = json.load(file_9)

In [3]:
data = {
    'gender': ['Female', 'Female', 'Male', 'Female', 'Male'],
    'age': [40.0, 59.0, 57.0, 45.0, 50.0],
    'hypertension': [0, 0, 1, 1, 0],
    'heart_disease': [0, 1, 0, 1, 0],
    'ever_married': ['Yes', 'No', 'Yes', 'No', 'Yes'],
    'work_type': ['Private', 'Self-employed', 'Never_worked', 'Govt_job', 'children'],
    'residence_type': ['Urban', 'Urban', 'Urban', 'Rural', 'Urban'],
    'avg_glucose_level': [65.77, 81.64, 217.4, 120.0, 92.5],
    'bmi': [31.2, 32.8, 36.6, 25.0, 28.3],
    'smoking_status': ['never smoked', 'Unknown', 'never smoked', 'formerly smoked', 'smokes']
}

# Membuat DataFrame
df = pd.DataFrame(data)

# Menampilkan DataFrame
df

,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status
0,Female,40.0,0,0,Yes,Private,Urban,65.77,31.2,never smoked
1,Female,59.0,0,1,No,Self-employed,Urban,81.64,32.8,Unknown
2,Male,57.0,1,0,Yes,Never_worked,Urban,217.40,36.6,never smoked
3,Female,45.0,1,1,No,Govt_job,Rural,120.00,25.0,formerly smoked
4,Male,50.0,0,0,Yes,children,Urban,92.50,28.3,smokes

In [4]:
data_enc = df.copy()
data_ohe = encoder.transform(data_enc[selected_cat_features])
feature_names = encoder.get_feature_names_out(selected_cat_features)
data_ohe = pd.DataFrame(data_ohe, columns=feature_names)

new_data = pd.concat([data_enc, data_ohe], axis=1)
new_data.drop(columns=selected_cat_features, inplace=True)

In [5]:
new_data[numeric_features] = scaler.transform(new_data[numeric_features])

In [6]:
new_data.drop(columns=non_selected_num_features + non_selected_cat_features, inplace=True)

In [7]:
df['stroke'] = model.predict(new_data)

In [8]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,40.0,0,0,Yes,Private,Urban,65.77,31.2,never smoked,0
1,Female,59.0,0,1,No,Self-employed,Urban,81.64,32.8,Unknown,0
2,Male,57.0,1,0,Yes,Never_worked,Urban,217.40,36.6,never smoked,1
3,Female,45.0,1,1,No,Govt_job,Rural,120.00,25.0,formerly smoked,0
4,Male,50.0,0,0,Yes,children,Urban,92.50,28.3,smokes,0